email=hackerrank-developers@hackerrank.com
always-auth=true
//nexus.hackerrank.com/repository/hr-npm-group/:_auth=bmV4dXNSZWFkVXNlcjp5RXhyZjZKQ2pvdzQ2TUFnd2xibW5nbVAy
registry=https://nexus.hackerrank.com/repository/hr-npm-group/